*.class

# package file
*.war
*.ear

# kdiff3 ignore
*.orig

# maven ignore
target/

# Eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp file
*.log
*.patch
*.cache
*.diff
*.tmp

# System ignore
.DS_Store
Thumbs.db

